html,
body,
#root {
  margin: 0;
  padding: 0%;
  height: 100%;
  direction: rtl;
  /* color: burlywood; */
  background-image: radial-gradient(beige, burlywood);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Box {
  display: inline-block;
  text-align: center;
  border: 1px solid goldenrod;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  width: 150px;
  height: 220px;
}

.OtherBox {
  display: inline-block;
  text-align: center;
  /* border: 1px solid goldenrod; */
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 150px;
  height: 220px;
}

